In [1]:
import sys, os
import importlib
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
sys.path.append(os.path.abspath(".."))

In [3]:
import src.preprocessing
from src.artifacts import load_df, save_df, save_obj
importlib.reload(src.preprocessing)
from src.config import  RAW_PARQUET, CLEAN_PARQUET,X_TRAIN_PARQUET, X_TEST_PARQUET, Y_TEST_PARQUET, Y_TRAIN_PARQUET, SCALAR_PARQUET
from src.preprocessing import clean_data

In [4]:
TARGET_COL = "Loan_Status"

In [5]:
# 1) Load raw artifact
df = load_df(RAW_PARQUET)
print("Raw shape:", df.shape)

Raw shape: (614, 12)

In [6]:
# 2) Do preprocessing
print (df)
df_clean = clean_data(df)

     Gender Married  Dependents     Education Self_Employed  ApplicantIncome  \
0      Male      No         0.0      Graduate            No             5849
1      Male     Yes         1.0      Graduate            No             4583
2      Male     Yes         0.0      Graduate           Yes             3000
3      Male     Yes         0.0  Not Graduate            No             2583
4      Male      No         0.0      Graduate            No             6000
..      ...     ...         ...           ...           ...              ...
609  Female      No         0.0      Graduate            No             2900
610    Male     Yes         3.0      Graduate            No             4106
611    Male     Yes         1.0      Graduate            No             8072
612    Male     Yes         2.0      Graduate            No             7583
613  Female      No         0.0      Graduate           Yes             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                  0.0       128.0             360.0             1.0
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
..                 ...         ...               ...             ...
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

    Property_Area Loan_Status
0           Urban           Y
1           Rural           N
2           Urban           Y
3           Urban           Y
4           Urban           Y
..            ...         ...
609         Rural           Y
610         Rural           Y
611         Urban           Y
612         Urban           Y
613     Semiurban           N

[614 rows x 12 columns]
After dummies: (614, 13)
New columns: ['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Gender_Male', 'Married_Yes', 'Education_Not Graduate', 'Self_Employed_Yes', 'Property_Area_Semiurban', 'Property_Area_Urban', 'Loan_Status_Y']
Shape of full dataset: (614, 13)
Shape of Features (indep_X): (614, 12)
Shape of Target (dep_Y): (614,)

Independent Variables (X):
   Dependents  ApplicantIncome  CoapplicantIncome  LoanAmount  \
0         0.0             5849                0.0       128.0
1         1.0             4583             1508.0       128.0
2         0.0             3000                0.0        66.0
3         0.0             2583             2358.0       120.0
4         0.0             6000                0.0       141.0

   Loan_Amount_Term  Credit_History  Gender_Male  Married_Yes  \
0             360.0             1.0         True        False
1             360.0             1.0         True         True
2             360.0             1.0         True         True
3             360.0             1.0         True         True
4             360.0             1.0         True        False

   Education_Not Graduate  Self_Employed_Yes  Property_Area_Semiurban  \
0                   False              False                    False
1                   False              False                    False
2                   False               True                    False
3                    True              False                    False
4                   False              False                    False

   Property_Area_Urban
0                 True
1                False
2                 True
3                 True
4                 True

Dependent Variable (y):
0     True
1    False
2     True
3     True
4     True
Name: Loan_Status_Y, dtype: bool

In [7]:
# 3) Save clean artifact
save_df(df_clean, CLEAN_PARQUET)
print(f"✅ Saved clean data to: {CLEAN_PARQUET}")

✅ Saved clean data to: C:\Users\mukil\Downloads\Loan Approval Prediction\Loan-Approval-Prediction\artifacts\02_clean.parquet