In [56]:
import sys, os
import importlib

In [57]:
sys.path.append(os.path.abspath(".."))

In [ ]:
import src.eda_univariate
from src.artifacts import load_df, save_df
importlib.reload(src.eda_univariate)
from src.config import  ENCODED_PARQUET
from src.eda_univariate import (
    split_columns,
    missing_values,
    numeric_summary,
    freq_table,
    target_distribution,
)

In [59]:
df_enc = load_df(ENCODED_PARQUET)
print("Encoded shape:", df_enc.shape)
df_enc.head()

Encoded shape: (614, 15)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status
0,5849,0.0,128.0,360.0,1.0,True,False,False,False,False,False,False,False,True,1
1,4583,1508.0,128.0,360.0,1.0,True,True,True,False,False,False,False,False,False,0
2,3000,0.0,66.0,360.0,1.0,True,True,False,False,False,False,True,False,True,1
3,2583,2358.0,120.0,360.0,1.0,True,True,False,False,False,True,False,False,True,1
4,6000,0.0,141.0,360.0,1.0,True,False,False,False,False,False,False,False,True,1

In [60]:
quan, qual = split_columns(df_enc)

print("Numeric columns:", quan)
print("Categorical columns:", qual)

Numeric columns: ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Gender_Male', 'Married_Yes', 'Dependents_1', 'Dependents_2', 'Dependents_3+', 'Education_Not Graduate', 'Self_Employed_Yes', 'Property_Area_Semiurban', 'Property_Area_Urban', 'Loan_Status']
Categorical columns: []

In [61]:
if quan:
    print("Numeric summary:")
    display(numeric_summary(df_enc, quan))

Numeric summary:

,count,mean,std,min,25%,50%,75%,max
ApplicantIncome,614.0,5403.459283,6109.041673,150.0,2877.50,3812.5,5795.00,81000.0
CoapplicantIncome,614.0,1621.245798,2926.248369,0.0,0.00,1188.5,2297.25,41667.0
LoanAmount,614.0,145.752443,84.107233,9.0,100.25,128.0,164.75,700.0
Loan_Amount_Term,614.0,342.410423,64.428629,12.0,360.00,360.0,360.00,480.0
Credit_History,614.0,0.855049,0.352339,0.0,1.00,1.0,1.00,1.0
Loan_Status,614.0,0.687296,0.463973,0.0,0.00,1.0,1.00,1.0

In [62]:
if qual:
    col = qual[0]
    print(f"Frequency table for {col}:")
    display(freq_table(df_enc, col))

In [63]:
print("Target distribution:")
display(target_distribution(df_enc, "Loan_Status"))

Target distribution:

             Target_Dist
Loan_Status
1               0.687296
0               0.312704